# SPDX-License-Identifier: GPL-2.0-only
#
# Google SoC drivers
#

menu "Google SoC drivers"

config PKVM_S2MPU
	tristate "S2MPU driver compatible with pKVM"
	default n
	help
	This module is a driver for the stage-2 IOMMU controlled by hypervisor.

endmenu
